.container-flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.container-flex-main {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.container-flex-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
}

.photo_fio_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;
    height: 100%;
    width: 100%;
}

.contact_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 35%;
}

.container_projects{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}