<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Surft14</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/container-flex.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="container container-flex-header">
                <h1>Header</h1>
                <h1>Header</h1>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="container container-flex-main">
                <h1>Main</h1>
                <h1>Main</h1>
            </div>
        </div>
    </main>
    <footer>
        <div class="wrapper">
            <div class="container container-flex-footer">
                <h1>Footer</h1>
                <h1>Footer</h1>
            </div>
        </div>
    </footer>
</body>
</html>