<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Журавлев Константин Михайлович</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/containers-flex.css">
    <link rel="stylesheet" href="../static/css/images.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="container container-flex-header">
                <div class="photo_fio_container">
                    <img src="../image/me.jpg" alt="me" id="me">
                    <h3>Журавлев Константин Михайлович</h3>
                </div>
                <div class="contact_container">
                    <a href="https://t.me/Surft14" id="telegram" target="_blank">Telegram</a>
                    <a href="https://github.com/Surft14" id="github" target="_blank">Github</a>
                    <a href="mailto:mr.darck31@gmail.com" id="email" target="_blank">Email</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="container container-flex-main">
                <h1>Main</h1>
                <h1>Main</h1>
            </div>
        </div>
    </main>
    <footer>
        <div class="wrapper">
            <div class="container container-flex-footer">
                <h1>Footer</h1>
                <h1>Footer</h1>
            </div>
        </div>
    </footer>
</body>
</html>